/* Reset CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Dashboard Container */
.dashboard-container {
    display: flex;
    height: 100vh;
    overflow-x: auto; /* Ensure content does not overflow the viewport */
    overflow-y: auto;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background-color: #002D62;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: auto; /* Add vertical scroll if content overflows */
}

/* Sidebar Title */
.dashboard-title {
    color: #fff;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 50px;
}

/* Sidebar Links */
.sidebar ul {
    list-style-type: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #F0F8FF;
    display: block;
}

.sidebar ul li a:hover {
    color: #000;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #B9D9EB;
    overflow-x: auto; /* Add scroll if content overflows */
    overflow-y: auto;
}

/* Main Content Title */
.main-content h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #72A0C1;
}

th {
    background-color: #72A0C1;
}

/* Logout Button */
.logout-button {
    background-color: #F0F8FF;
    color: #002D62;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    margin-top: auto;
}

.logout-button:hover {
    background-color: #72A0C1;
    color: #fff;
}

/* Homepage */
#homePage {
    text-align: center; /* Center align the content */
}

/* Heading and Logo Container */
.heading-logo-container {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center align horizontally */
    margin-bottom: 30px; /* Add spacing below the container */
}

.heading-logo-container h2 {
    margin-right: 20px; /* Add spacing between heading and logo */
}

.logo-image {
    width: 150px; /* Adjust the width of the logo image */
}

.center-image {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    margin-bottom: 20px; /* Add spacing below the centered image */
}

/* Table Controls */
.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* Export Button and Dropdown Styling */
.export-table {
    position: relative;
    display: inline-block;
}

.export-button {
    background-color: #72A0C1;
    color: #FFF;
    border: none;
    padding: 10px 20px; /* Match the original size of the previous and next buttons */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.export-button:hover {
    background-color: #002D62;
}

/* Show the dropdown menu on hover */
.export-table:hover {
    display: block;
}

/* Align Export Button to the Right */
.table-controls .export-table {
    margin-left: auto;
}

/* Ensure Previous and Next Buttons Keep Their Original Size */
#prevPage, #nextPage , #userPrevPage, #userNextPage{
    padding: 10px 20px; /* Ensure this matches the original size */
    background-color: #72A0C1;
    color: white;
    border: none;
    cursor: pointer;
}

#prevPage:hover, #nextPage:hover , #userPrevPage:hover, #userNextPage:hover{
    background-color: #002D62;
}

#prevPage:disabled, #nextPage:disabled , #userPrevPage:disabled, #userNextPage:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}

/* Chart Container */
.chart-container {
    margin: 20px auto; /* Center the chart container horizontally */
    max-width: 600px; /* Set a maximum width for the chart container */
}

/* Settings Section Styling */
.settings-category {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #72A0C1;
    border-radius: 5px;
}

.settings-category h3 {
    font-size: 24px;
    color: #002D62;
    margin-top: 0;
    margin-bottom: 15px;
}

/* Form Styling */
.settings-category form {
    display: flex;
    flex-direction: column;
}

.settings-category label {
    margin-top: 10px;
    font-size: 16px;
    color: #002D62;
}

.settings-category input {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Buttons */
.settings-category button {
    background-color: #72A0C1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.settings-category button:hover {
    background-color: #002D62;
}

/* Edit and Cancel Buttons */
.edit-button, .cancel-button {
    background-color: #72A0C1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.edit-button:hover, .cancel-button:hover {
    background-color: #002D62;
}

.cancel-button {
    background-color: #F44336;
}

.cancel-button:hover {
    background-color: #d32f2f;
}

/* Align Labels and Inputs */
#adminProfileForm label,
#changePasswordForm label {
    display: block;
    margin-bottom: 10px;
}

#adminProfileForm input,
#changePasswordForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

.password-input {
    position: absolute;
    left: 180px;
}

.visibility-button {
    position: absolute;
    top: 50%;
    left: 225px;
    transform: translateY(-93%);
}

/* Reset Button */
.reset-button {
    background-color: #F44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.reset-button:hover {
    background-color: #d32f2f;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .dashboard-title {
        font-size: 25px;
        margin-bottom: 40px;
    }
    .sidebar ul {
        font-size: 18px;
    }
    .sidebar ul li {
        margin-bottom: 15px;
    }
    .main-content h2 {
        font-size: 25px;
    }
    .settings-category h3 {
        font-size: 22px;
    }
    .settings-category label {
        font-size: 15px;
    }
    .settings-category input {
        font-size: 15px;
    }
    .settings-category button {
        font-size: 15px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 150px;
        padding: 15px;
    }
    .dashboard-title {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .sidebar ul {
        font-size: 16px;
    }
    .sidebar ul li {
        margin-bottom: 10px;
    }
    .main-content h2 {
        font-size: 20px;
    }
    .logout-button {
        font-size: 16px;
        padding: 8px 16px;
    }
    .heading-logo-container h2 {
        font-size: 20px; /* Decrease font size for smaller screens */
    }

    .logo-image {
        width: 100px; /* Decrease logo size for smaller screens */
    }

    .center-image {
        margin-bottom: 10px; /* Decrease spacing below the centered image */
    }
    .chart-container {
        max-width: 400px; /* Adjust maximum width for smaller screens */
    }
    .settings-category h3 {
        font-size: 20px;
    }
    .settings-category label {
        font-size: 14px;
    }
    .settings-category input {
        font-size: 14px;
    }
    .settings-category button {
        font-size: 14px;
        padding: 8px 14px;
    }
}

@media (max-width: 480px) {
    .dashboard-container {
        flex-direction: column;
    }
    .sidebar {
        width: 95%;
        height: auto;
        padding: 10px;
    }
    .dashboard-title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .sidebar ul {
        font-size: 14px;
    }
    .sidebar ul li {
        margin-bottom: 8px;
    }
    .main-content {
        padding: 15px;
    }
    .main-content h2 {
        font-size: 18px;
    }
    table {
        font-size: 14px;
    }
    th, td {
        padding: 6px;
    }
    .logout-button {
        font-size: 14px;
        padding: 6px 12px;
    }
    .heading-logo-container h2 {
        font-size: 18px; /* Further decrease font size for smallest screens */
    }

    .logo-image {
        width: 80px; /* Further decrease logo size for smallest screens */
    }

    .center-image {
        margin-bottom: 5px; /* Further decrease spacing below the centered image */
    }
    .chart-container {
        max-width: 300px; /* Further adjust maximum width for smallest screens */
    }
    .settings-category {
        padding: 15px;
    }
    .settings-category h3 {
        font-size: 18px;
    }
    .settings-category label {
        font-size: 13px;
    }
    .settings-category input {
        font-size: 13px;
        padding: 8px;
    }
    .settings-category button {
        font-size: 13px;
        padding: 6px 12px;
    }
    .input-container {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 30px;
    }
    .password-input {
        position: absolute;
        transform: translateY(70%);
        left: 0;
    }
    .visibility-button {
        position: absolute;
        top: 40%;
        left: 200px;
        transform: translateY(-93%);
    }
}
